
body
 { background-color: #24353f;
height: 100vh;
}
 a{
    color:inherit;
    size: inherit;
 }
.container{

    margin-top: 50px;
    width: 60%;
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}

h1{
    color: #17a2b8;
    font-size:px ;
    width: fit-content;

}

input {
    background-color: transparent !important;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-control {
    color:white
}
input::placeholder {
    color:#b6b6b6 !important;
    font-size: 18px;
}
input:focus{
    box-shadow: none !important;
    border: solid 1px blue;
    color: white !important;

}
a{ text-decoration-line: none;}

p a:hover{
    text-decoration: underline;
}

.custom-width {
   
box-shadow: -5px 2px 54px -9px rgb(0 0 0 );
padding-left: 100px;
padding-right: 100px;
}

.btn-yellow:hover {
    background-color: gold; }

    .btn-yellow {
color: white;
box-shadow: 1px -1px 3px 1px rgb(229 232 41);
    }
 
     .welcome{
        margin-top: 200px;
    }
    .welcome p {
        color:  #17a2b8;
        font-size: 40px;
    }